venv/
venv_win/
build/
dist/
dist_cachy/
*.spec

ffmpeg
ffprobe
ffmpeg.exe
ffprobe.exe
ffmpeg.zip
ffmpeg.tar.xz
ffmpeg_tmp/

installer/Cachy_Setup.exe

cachy_icon.png

Captura de tela*.png

RELEASE_NOTES.md

*.zip
*.tar.gz

__pycache__/
*.pyc
*.pyo

.DS_Store
Thumbs.db
